<div class="modal" [ngClass]="{ 'is-active': active }">
  <div (click)="deactivate.emit()" class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Resetar senha</p>
      <button
        (click)="deactivate.emit()"
        class="delete"
        aria-label="close"
      ></button>
    </header>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input
              [class.is-danger]="email.touched && email.invalid"
              class="input"
              type="email"
              formControlName="email"
              placeholder="Email da soulcodeacademy.org"
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </span>
            <span
              *ngIf="email.touched && email.invalid"
              class="icon is-small is-right"
            >
              <fa-icon [icon]="faExclamationTriangle"></fa-icon>
            </span>
            <span *ngIf="email.valid" class="icon is-small is-right">
              <fa-icon [icon]="faCheck"></fa-icon>
            </span>
          </div>
          <p *ngIf="email.touched && email.invalid" class="help is-danger">
            <span *ngIf="email.hasError('required')">Email obrigatório</span>
            <span *ngIf="email.hasError('email')">Email inválido</span>
            <span *ngIf="email.hasError('onlysoulcode')">
              Apenas o domínio soulcodeacademy.org é permitido
            </span>
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button
          [disabled]="resetPasswordForm.invalid || submitting"
          [class.is-loading]="submitting"
          class="button is-info"
        >
          Enviar email
        </button>
      </footer>
    </form>
  </div>
</div>
