<nav class="navbar is-info has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img
        src="https://soulcodeacademy.org/assets/images/logo/light-logo.png"
        alt="Soulcode Academy"
      />
    </a>

    <a
      role="button"
      class="navbar-burger"
      (click)="active = !active"
      [class.is-active]="active"
      aria-label="menu"
      aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [class.is-active]="active">
    <div class="navbar-start">
      <a class="navbar-item" routerLinkActive="is-active" routerLink="/turmas"> Turmas </a>
      <a class="navbar-item" routerLinkActive="is-active" routerLink="/chamadas"> Chamadas </a>
    </div>
    <div class="navbar-end" *ngIf="logged$ | async">
      <a routerLinkActive="is-active" routerLink="/perfil" class="navbar-item">
        <fa-icon class="mr-1" [icon]="faUser"></fa-icon> 
        {{ user?.displayName }}
      </a>
      <a (click)="logout()" class="navbar-item">
        <fa-icon [icon]="faLogout"></fa-icon>
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
