/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
@import "./fonts.scss";

$primary: #ffd900;
$info: #0f637a;
$link: $info;
$family-sans-serif: "Gilroy", monospace;

@import "../node_modules/bulma/bulma.sass";
